/* line 5, D:/Projects/Card Commentator/CSS/style.scss */
.rotated-card {
  top: -15px;
  position: relative;
  left: 15px;
  width: 75px;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -webkit-transform: rotate(270deg);
  /* Opera, Chrome, and Safari */
  /* For Safari 3.1 to 6.0 */
  box-shadow: 3px 3px 10px #333333; }

/* line 23, D:/Projects/Card Commentator/CSS/style.scss */
.counter {
  background: #fcfcfc;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 5px;
  font-weight: bold; }

/* line 32, D:/Projects/Card Commentator/CSS/style.scss */
.number-of {
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  right: 50%;
  border-radius: 5px;
  font-weight: bold;
  padding: 0 5px; }

/* line 42, D:/Projects/Card Commentator/CSS/style.scss */
.rotated-card-container {
  height: 75px;
  width: 105px;
  position: absolute; }

/* line 48, D:/Projects/Card Commentator/CSS/style.scss */
.rotated-card:hover {
  outline: 2px solid #2ecc71; }

/* line 52, D:/Projects/Card Commentator/CSS/style.scss */
.card-popup {
  visibility: hidden;
  position: absolute; }

/* line 58, D:/Projects/Card Commentator/CSS/style.scss */
.card-popup-button-group {
  top: 100px;
  position: relative; }

/* line 64, D:/Projects/Card Commentator/CSS/style.scss */
.card-popup-image {
  border-radius: 13px;
  width: 300px; }

/* line 69, D:/Projects/Card Commentator/CSS/style.scss */
.card-popup-image-container {
  display: inline-block; }

/* line 73, D:/Projects/Card Commentator/CSS/style.scss */
#leftButtonGroup {
  float: left;
  width: 1px; }

/* line 78, D:/Projects/Card Commentator/CSS/style.scss */
#leftButtonGroup button {
  margin-bottom: 0px;
  float: right; }

/* line 83, D:/Projects/Card Commentator/CSS/style.scss */
#rightButtonGroup {
  float: right;
  display: inline-block; }

/* line 88, D:/Projects/Card Commentator/CSS/style.scss */
#topButtonGroup {
  float: right;
  padding-right: 10px; }

/* line 93, D:/Projects/Card Commentator/CSS/style.scss */
.card-popup-button-group .card-popup-button {
  display: block;
  margin: 4px; }

/* line 98, D:/Projects/Card Commentator/CSS/style.scss */
.card-row {
  display: block;
  position: relative;
  min-height: 120px; }

/* line 105, D:/Projects/Card Commentator/CSS/style.scss */
.card-column {
  padding: 20px;
  position: absolute; }

/* line 110, D:/Projects/Card Commentator/CSS/style.scss */
.graveyard {
  border: 5px solid #2ecc71;
  width: 125px;
  height: 95px;
  position: absolute;
  bottom: 40px; }

/* line 119, D:/Projects/Card Commentator/CSS/style.scss */
.ul-unstyled {
  list-style: none;
  padding-bottom: 10px; }

/* line 124, D:/Projects/Card Commentator/CSS/style.scss */
.search-box {
  width: 300px; }

/* line 128, D:/Projects/Card Commentator/CSS/style.scss */
nav {
  height: 50px;
  background-color: #2c3e50;
  width: 100%; }

/* line 134, D:/Projects/Card Commentator/CSS/style.scss */
.play-field {
  float: left;
  width: 100%; }

/* line 140, D:/Projects/Card Commentator/CSS/style.scss */
.player-hand {
  width: 12.5%;
  height: 800px;
  background-image: url("/Images/greenFelt.jpg"); }

/* line 146, D:/Projects/Card Commentator/CSS/style.scss */
.player-field {
  background-image: url("/Images/cardboard.jpg");
  width: 25%;
  height: 800px; }

/* line 152, D:/Projects/Card Commentator/CSS/style.scss */
.middle-section {
  overflow: hidden;
  height: 100%; }

/* line 158, D:/Projects/Card Commentator/CSS/style.scss */
#test {
  background: black;
  margin: 0;
  padding: 0; }

/* line 164, D:/Projects/Card Commentator/CSS/style.scss */
.stream-section {
  overflow: hidden;
  width: 50%; }

/* line 169, D:/Projects/Card Commentator/CSS/style.scss */
footer {
  background-color: #2c3e50;
  color: #aaaaaa;
  clear: both;
  height: 20px;
  margin: -20px 0 0 0; }

/* line 177, D:/Projects/Card Commentator/CSS/style.scss */
#rightPlayerHand {
  float: right; }

/* line 181, D:/Projects/Card Commentator/CSS/style.scss */
#rightPlayerPlayField {
  float: right; }

/* line 185, D:/Projects/Card Commentator/CSS/style.scss */
#leftPlayerHand {
  float: left; }

/* line 189, D:/Projects/Card Commentator/CSS/style.scss */
#leftPlayerPlayField {
  float: left; }

/* line 193, D:/Projects/Card Commentator/CSS/style.scss */
#selectedCardSection {
  background: #5F748C;
  height: 100%;
  bottom: 0; }

/* line 199, D:/Projects/Card Commentator/CSS/style.scss */
.stream {
  width: 100%;
  height: 570px;
  margin-top: 0px;
  padding-top: 0px; }

/* line 206, D:/Projects/Card Commentator/CSS/style.scss */
.page-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 0 0 0;
  /* the bottom margin is the negative value of the footer's height */
  position: relative; }

/* line 217, D:/Projects/Card Commentator/CSS/style.scss */
body, html {
  height: 100%;
  overflow: hidden; }

/*# sourceMappingURL=style.css.map */