//constants
$card-rotation-right: 270deg;
$footer-height: -20px;

.rotated-card {
    top: -15px;
    position: relative;
    left: 15px;
    width: 75px;
    transform: rotate($card-rotation-right);
    -ms-transform: rotate($card-rotation-right);
    /* IE 9 */
    
    -webkit-transform: rotate($card-rotation-right);
    /* Opera, Chrome, and Safari */
    /* For Safari 3.1 to 6.0 */
    

    box-shadow: 3px 3px 10px #333333;
    
}

.counter {
  background: rgb(252, 252, 252);
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.rotated-card-container {
    height: 75px;
    width: 105px;
    position: absolute;
}

.rotated-card:hover {
    outline: 2px solid #2ecc71;
}

.cardPopup {
    visibility: hidden;
    position: absolute;
    
}

.cardPopupButtonGroup{
  
  top: 100px;
  position: relative;
}

.cardPopupImage {
    border-radius: 13px;
    width: 300px;
}

#leftButtonGroup{
    float: left;
    width: 1px;
}

#leftButtonGroup button{
    margin-bottom: 0px;
    float: right;
}

#rightButtonGroup {
     float: right;
}

.cardPopupButtonGroup .cardPopupButton {
    display: block;
    margin: 4px;
}

.card-row {
    display: block;
    position: relative;
    min-height: 120px;
}


.card-column {
    padding: 20px;
    position: absolute;
}

.graveyard {
    border: 5px solid #2ecc71;
    width: 125px;
    height: 95px;
    position: absolute;
    bottom: 40px;

}

.ul-unstyled {
    list-style: none;
    padding-bottom: 10px;
}

.search-box {
    width: 300px;
}

nav {
    height: 50px;
    background-color: #2c3e50;
    width: 100%;
}

.play-field {
    float: left;
    width: 100%;
  
}

.player-hand {
    width: 12.5%;
    height: 800px;
    background-image: url("/Images/greenFelt.jpg");
}

.player-field {
    background-image: url("/Images/cardboard.jpg");
    width: 25%;
    height: 800px;
}

.middle-section {
    //background: #5F748C;
    overflow: hidden;
    height: 100%;
}

#test {
    background: black;
    margin: 0;
    padding: 0;
}

.stream-section {
    overflow: hidden;
    width: 50%;
}

footer {
    background-color: #2c3e50;
    color: #aaaaaa;
    clear: both;
    height: 20px;
    margin: $footer-height 0 0 0;
}

#rightPlayerHand {
    float: right;
}

#rightPlayerPlayField {
    float: right;
}

#leftPlayerHand {
    float: left;
}

#leftPlayerPlayField {
    float: left;
}

#selectedCardSection {
    background: #5F748C;
    height: 100%;
    bottom: 0;
}

.stream {
    width: 100%;
    height: 570px;
    margin-top: 0px;
    padding-top: 0px;
}

.page-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 0 0;
    /* the bottom margin is the negative value of the footer's height */
    
    position: relative;
}

body,
html {
    height: 100%;
    overflow: hidden;
}