//constants
$card-rotation-time: .5s;
$card-rotation-right: 270deg;
$footer-height: -20px;

.rotated-card {
	width: 75px;
    transform: rotate($card-rotation-right);
    -ms-transform: rotate($card-rotation-right);
	/* IE 9 */
    -webkit-transform: rotate($card-rotation-right);
	/* Opera, Chrome, and Safari */
	/* For Safari 3.1 to 6.0 */
    -webkit-transition: -webkit-transform $card-rotation-time, width $card-rotation-time;
    transition: transform $card-rotation-time, width $card-rotation-time;
    position: absolute;
    margin-left: 2px;
    margin-top: -10px;
}

//.rotated-card:hover {
//	/* Chrome, Safari, Opera */
//    -webkit-transform: rotate(360deg);
//    transform: rotate(360deg);
//    z-index: 2;
//    width: 250px;
//}

.rotated-card:hover {
	outline: 3px solid yellow;
}

.rotated-card:active {
}

.card-row {
    display: block;
    position: relative;
    min-height: 120px;
}

.card-row:first-child {
}

.card-column {
    padding: 20px;
	position: absolute;
}

.ul-unstyled {
    list-style: none;
    padding-bottom: 10px;
}

.search-box {
    width: 300px;
}

nav {
    height: 50px;
    background-color: black;
	width: 100%;
}

.play-field {
 	float:left;
	width:100%;
}

.player-hand {
    width: 12.5%;
	height: 800px;
	background-image: url("/Images/greenFelt.jpg");
}

.player-field {
	background-image: url("/Images/blueFelt.jpg");
    width: 12.5%;
	height: 800px;
}

.middle-section {
    //background: #5F748C;
    overflow: hidden;
	height: 100%;

}

#test{
 	background: black;
	margin: 0;
	padding: 0;
}
.stream-section {
    overflow: hidden;
	width: 50%;
}

footer {
    background-color: black;
    color: #aaaaaa;
    clear: both;
    height: 20px;
	margin: $footer-height 0 0 0;
}

#rightPlayerHand {
     float:right;
}

#rightPlayerPlayField {
     float:right;
}

#leftPlayerHand {
    float:left;
}

#leftPlayerPlayField {
    float:left;
}

#selectedCardSection {
	background: #5F748C;

	height: 100%;
	bottom: 0;
}

.stream {
    width: 100%;
    height: 520px;
    margin-top: 0px;
    padding-top: 0px;
}

.page-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 $footer-height 0; /* the bottom margin is the negative value of the footer's height */
    position: relative;
}

body,
html {
    height: 100%;
	overflow: hidden;
}